{% load static %}
<!DOCTYPE html> 
<html lang="en"> 
<head>    
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  
    <link href=style.css rel=stylesheet type=text/css> 
    <title>lian </title> 
    
</head> 
<body style="background-image: url('https://res.cloudinary.com/dk0z4ums3/image/upload/v1623210491/attached_image/unsur-yang-menjadikan-kosmetik-berbahaya-0-alodokter.jpg')"></body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"> 
            <div class="container"> 
              <a class="navbar-brand" href="#"><span class="text-warning">Happy</span>Shopping</a> 
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
              </button> 
              <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'berita' %}">SKINCARE</a> 
                  </li> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'detailberita' %}">Skintific</a> 
                  </li> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'isiberita' %}">Scarlett</a> 
                  </li> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'done' %}">MS Glow</a> 
                  </li> 
                </ul> 
              </div> 
            </div> 
          </nav> 
    <body>
		  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
          <img src="https://esqacosmetics.com/cdn/shop/files/MOBILE_CUSHION_SERUM_02_jpg.jpg?v=1655261113" width="100"  height="350" class="d-block w-100" alt=""></img>
			  </div>
			  <div class="carousel-item">
				  <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//catalog-image/105/MTA-122838089/no-brand_no-brand_full01.jpg" width="1250"  height="400" class="d-block w-100" alt="..."></img>
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
    </body>
      <h1 style="background-color:#f797e4;"><marquee>WELCOME TO ONLINE SHOP LIANAZEIN</marquee></h1>
    <div id=menu>
    <h2 style="background-color:#f8f4f7;">SILAHKAN ISI DAFTAR PENGUNJUNG</h2>
        <ul>
    <table>
        <tr>
          <th>Nama</th><th:</th>
          <th><input type="text"></th>
        </tr>
        <tr>
          <th>Alamat</th><th:</th>
          <th><input type="text"></th>
      </tr>
      <tr>
          <th>Usia</th><th:</th>
          <th><input type="text"></th>
      </tr>
    </table>
    <a style="background-color:rgb(164, 226, 21);" class="klinik" href="{% url 'update' %}" tittle="">update</a>
</html>