{% load static %} 
<!DOCTYPE html>
<html lang="en"> 
<head>    
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  
    <link href=style.css rel=stylesheet type=text/css> 
    <title>MSGlow</title> 
</head>  
<html> 
    <head> 
        <body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3-LJkGjwHmF1ZrYqgY2G3pqpEAaDynUUCu6KrcEiH1_d1xKnXVtJEMLK6Yf6LZT0Autk&usqp=CAU')"></body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"> 
            <div class="container"> 
              <a class="navbar-brand" href="#"><span class="text-warning">Happy</span>Shopping</a> 
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
              </button> 
              <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'berita' %}">SKINCARE</a> 
                  </li> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'detailberita' %}">Skintific</a> 
                  </li> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'isiberita' %}">Scarlett</a> 
                  </li> 
                  <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'done' %}">MS Glow</a> 
                  </li> 
                </ul> 
              </div> 
            </div> 
          </nav> 
    </head> 
 
    <body> 
        <div class="container"> 
 
            <img src="https://images.bisnis.com/posts/2023/02/14/1628035/ms_glow.jpg" alt="" width="50%"></img> 
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRksmjQKUrFSG-KtInKb2vWl6EzSamNhhZ_kQ&usqp=CAU" alt="" width="30%"> 
 
            <h1>MS GLOW</h1>
            <p>  MS GLOW adalah sebuah brand kecantikan yang merupakan salah satu lini di bawah naungan PT. Kosmetika Cantik Indonesia. Berdiri pada tahun 2013, MS GLOW merupakan singkatan dari moto kami yaitu Magic For Skin. Berawal dari penjualan produk skincare dan body care secara online, MS GLOW telah memperoleh kepercayaan dari jutaan customer sehingga kami terus melakukan pengembangan produk.

                Tidak hanya sampai di situ, demi kepuasan dan kepercayaan customer kami juga mendirikan MS GLOW Aesthetic Clinic. Klinik kecantikan MS GLOW ini sudah ada 14 cabang di kota kota besar di Indonesia. Kami menghadirkan berbagai solusi perawatan wajah dan tubuh seperti Laser, Meso, skin rejuvenation, V shape, microdermabrasi, beauty transformation dan lainnya yang langsung ditangani dokter ahli.
                
                Dalam perjalanannya, MS GLOW sudah memiliki banyak macam produk skincare dengan inovasi yang selalu diperbaharui. Kami juga memformulasikan WhiteCellDNA dengan teknologi nano-enkapsulasi, sebagai salah satu bahan skincare yang telah dipatenkan oleh MS GLOW. Dari WhiteCellDNA, MS GLOW telah merilis produk serum, night cream, hingga body essence, dan akan terus berinovasi.
                
                Tak hanya berinovasi dalam formulasi produk, MS GLOW juga memberikan kemudahan bagi pelanggan dengan membangun sebuah aplikasi analisa kulit wajah yaitu MS GLOW Skin Analyzer. Dalam aplikasi ini pelanggan bisa mengetahui jenis dan kondisi kulit wajah, berkonsultasi dengan ahli kecantikan lewat video, hingga membeli produk.</p>
            <h2 style="background-color:#ebedf0;">SILAHKAN KLIK LINK DIBAWAH UNTUK MELAKUKAN PEMBELIAN</h2>
            <a style="background-color:rgb(21, 134, 226);" href="https://www.google.com/aclk?sa=l&ai=DChcSEwi0iZOAgrqDAxUMqmYCHa9GCRoYABAHGgJzbQ&ase=2&gclid=Cj0KCQiAv8SsBhC7ARIsALIkVT000pOXFa4S4yA7U21041akYC9OPzgzOS-7_Z_COhgUfi4dfIC0UsMaAlGnEALw_wcB&sig=AOD64_1aZhSlcxcOsRHnNGwlOoplvEywWw&ctype=5&q=&nis=4&ved=0ahUKEwjdro6AgrqDAxXh2DgGHZ1cBrAQww8Ilgc&adurl="><li>PAKET LENGKAP</li></a></a> 
            <a style="background-color:rgb(21, 134, 226);" href="https://www.google.com/aclk?sa=l&ai=DChcSEwj3juT1g7qDAxU1omYCHX3WB8sYABABGgJzbQ&ase=2&gclid=Cj0KCQiAv8SsBhC7ARIsALIkVT3YuC3ryWINIwSPuIiCP3aa8ILDr68wnAHtkA_oCan27akSVci-56QaAo9iEALw_wcB&sig=AOD64_0lxAVXIkvR0KSVi_SaIltlDkgDGg&ctype=5&q=&nis=4&ved=0ahUKEwjq3971g7qDAxUn4TgGHaYCCtUQww8IqgY&adurl="><li>CREAM WAJAH</li></a></a> 
            <a style="background-color:rgb(21, 134, 226);" href="https://www.google.com/aclk?sa=l&ai=DChcSEwiRu7qbhLqDAxWcpGYCHaaoB7MYABABGgJzbQ&ase=2&gclid=Cj0KCQiAv8SsBhC7ARIsALIkVT0YoVo7ZQr2UWxZhcvZAxTtO04ZF_p5FoGMHFmITg7nmx5tUQdcyVgaAhP3EALw_wcB&sig=AOD64_3mI68ItmYHYaBKGlwnzY_gB2npDw&ctype=5&q=&nis=4&ved=0ahUKEwjj_bWbhLqDAxXhTmwGHUCnAiIQww8IiQc&adurl="><li>SERUM</li></a></a> 
            <a style="background-color:rgb(21, 134, 226);" href="https://www.google.com/url?url=https://shopee.co.id/product/6972164/2123673459&rct=j&q=&esrc=s&opi=95576897&sa=U&ved=0ahUKEwjJs8njhLqDAxVS3TgGHQYDAL0Q1SkI5AYoAA&usg=AOvVaw2S9BkHdFQR1SqkZlgNuDxB"><li>FACIAL WASH</li></a></a> 
            <a style="background-color:rgb(21, 134, 226);" href="https://www.google.com/aclk?sa=l&ai=DChcSEwidrMSchbqDAxV1q2YCHeftAHsYABAFGgJzbQ&ase=2&gclid=Cj0KCQiAv8SsBhC7ARIsALIkVT2i3R7tilr6X7rjWCqMtgJyPRNB2T33wOF5bpTTmid8jP8-jVU2DoAaAvqAEALw_wcB&sig=AOD64_03JAyija1X1ne9FoJbCnEO1JbBkQ&ctype=5&q=&nis=4&ved=0ahUKEwi4876chbqDAxXYyTgGHe0WBqMQww8IoQc&adurl="><li>FACE MASK</li></a></a> 
            <a style="background-color:rgb(21, 134, 226);" href="https://www.google.com/url?url=https://shopee.co.id/product/53768857/6631416336&rct=j&q=&esrc=s&opi=95576897&sa=U&ved=0ahUKEwiKpIjOhbqDAxVjTGwGHXQbB0AQ1SkI9wYoAA&usg=AOvVaw1No9ol9ozoa9xw2Zsz2-b5"><li>TONER</li></a></a> 
            <a style="background-color:rgb(21, 134, 226);" href="{% url 'berita' %}"><input type="reset" name="button"></a>
        </div> 
             
    </body>