<!DOCTYPE html>
<html>
<head>
    <title> menyimpan data JSON di Atribut data</title>
</head>
<body>
    <ul>
        <li data-orang='
            {
            "nama": "Muhammad Thohir",
            "ukuranKaos": "XL"
            }
            '>Data Rahasia</li>
    </ul>
    <br>
    <button onclick="getSizeShirt()">ukuran kaos</button>

    <script>
        function getSizeShirt() {
            var el = document.querySelector("li");
            var json = el.dataset.orang;
            var data = JSON.parse(json);

            alert(data.nama + "\n" + data.ukuranKaos);
        }

    </script>
</body>
</html>